@use "../abstracts/" as abs;

.form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  &__row {
    // common to both rows
    display: flex;
    width: 100%;
    &--top {
      padding: 4rem 0 2rem 0;
    }
    &--bottom {
      flex-direction: column;
    }
  }

  &__switches-and-submit {
    display: flex;
    flex-direction: column;
  }

  &__title-and-submit {
    display: flex;
    flex-direction: column;
    margin-left: 28px;

    & h1 {
      font-size: 26px;
      margin-bottom: 8px;
    }

    & button {
      background-color: abs.$color-green;
      border-radius: 4px;
      font-size: 14px;
      padding: 6px 10px;
    }

    & p {
      text-align: center;
      font-size: 12px;
      margin-top: 4px;
    }
  }

  &__input-column {
    display: flex;
    flex-direction: column;
    flex: 1;

    & input {
      width: 100%;
    }

    &--1 {
      margin-bottom: 1rem;
    }
  }

  &__switches {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1rem;
  }
}

@include abs.screen-md {
  .form {
    &__input-column {
      &:not(:last-child) {
        padding-right: 1.5rem;
      }

      &--1 {
        margin-bottom: 0;
      }
    }

    &__title-and-submit {
      margin-left: 60px;
    }

    &__switches-and-submit {
      flex-direction: row;
    }

    &__row {
      &--bottom {
        flex-direction: row;
      }
      &--top {
        padding-top: 1rem;
      }
    }

    &__switches {
      flex-direction: row;
      position: relative;
      bottom: 1rem;
    }
  }
}

@include abs.screen-lg {
  .form {
    &__input-column {
      &:not(:last-child) {
        padding-right: 2rem;
      }
    }

    &__row {
      &--top {
        padding-top: 0;
      }
    }

    &__title-and-submit {
      margin-left: 100px;
    }
  }
}
