$color-green: #62BB71;
$color-red: #CF3F3C;
$color-blue: #4263B2;

$color-text: #FFFFFF;
$color-text-green: #87EB97;

$color-bg-body: #1D202E;
$color-bg-input: #3F475E;
$color-bg-chip-selected: $color-blue;
$color-bg-avatar: #0D0F18;